<!DOCTYPE html>
<html >
    <head>
    <meta charset='utf-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
            <title>Skype uqac</title>
            <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
                <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
                <link rel="stylesheet" href="/stylesheets/messenger.css">
                    <script type='text/javascript' src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
                    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
                    <script type='text/javascript' src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
                    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
                    <script type="text/javascript" src="/js/bootstrap-notify.min.js"></script>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <div class="row chats-row">
                <div class="col-md-12">
                    <a href="#" class="list-group-item open-request">
                        <p><strong><u>account :</u></strong></p>
                        <p>Name:  <% if (mysession.pseudo) { %><%-mysession.pseudo%><% } %></p>
                        <p>Email: <% if (mysession.email) { %><%-mysession.email%><% } %> </p>
                    </a>
                    <a href="#" class="list-group-item chat-request">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="friend name" id="friendInput" name="friend" required>
                            <span class="input-group-btn">
                                <button class="btn btn-default" id="addFriend"><i class="glyphicon glyphicon-plus"></i> Add friend</button>
                            </span>
                        </div>
                        <div id="friends-group" class="list-group">
                        </div>
                        </a>
                    <a href="#" class="list-group-item chat-request">
                        <div class="input-group">
                        <input type="text" class="form-control" placeholder="Conversation name" id="conversationInput" name="conversation" required>
                        <span class="input-group-btn">
                        <button class="btn btn-default ticket-option" type="button" id="addConversation">
                            <i class="glyphicon glyphicon-pencil"></i> New
                        </button></span>
                        </div>
                        <div id="conversation-group" class="list-group">
                        
                        </div>
                    </a>
                    
                </div>
                <!--<div class="col-md-12">
                    <a href="#" class="list-group-item">TeamSupport</a>
                    <a href="#" class="list-group-item list-group-item-success">About</a>
                    <a href="#" class="list-group-item active">Autre</a>
                </div>-->
            </div>
        </div>
        <div class="col-md-9 current-chat">
            <div class="row chat-toolbar-row">
                <div class="col-sm-12">
                    <div id="conversationName"></div>
                    <div class="input-group chat-toolbar form-horizontal" role="group" aria-label="...">
                        
                        <input type="text" class="form-control" placeholder="Participants name" id="participantInput" name="participants" required>
                        <span class="input-group-btn">
                        <button class="btn btn-default ticket-option" type="button" id="addParticipant">
                            <i class="glyphicon glyphicon-plus"></i> Add Participants
                        </button>
                        </span>
                            
                    </div>
                </div>
            </div>
            <div class="row current-chat-area" id="message">
                
            </div>
            <div class="row current-chat-footer">
                <div class="panel-footer">
                    <div class="input-group">
                            <input type="text" class="form-control" placeholder="Type your message" id="messageInput" name="message" required>
                            <span class="input-group-btn">
                            <button class="btn btn-default" type="button" id="send" >Send</button>
                            </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
<script type="text/javascript">
    $.ajaxSetup({async: false}); //warning
    var conversation;
    //autocomplete input
    //todo
    //notify start
    var notify = $.notify({title: '<strong>Hello!</strong>',message: 'You are now connected.'},{type: 'info'});

    /** Socket */
    var socket = io();
    var mysession = <%- JSON.stringify(mysession) %>;
    console.log(mysession);
    socket.on('connect', function(){
              socket.emit('new user', mysession);
        console.log("connection socket reussi.");
    });
    
    //Message
    socket.on('message', function(message) {
        displayConversation();
        $.notify({title: '<strong>Message!</strong><br>',message: 'New Message from : '},{type: 'info'});
    })
    $('#send').click(function() {
        var message = document.getElementById('messageInput').value;
        console.log(conversation);
        $.post( "/conversation/message/"+mysession.idUser,{id: conversation._id,content: message},function(data){conversation = data;});
        socket.emit('message', {message: message, conversation: conversation});
        displayConversation();
        document.getElementById('messageInput').value = "";
    })
    
    //Friend
    var friends =[]
    var friendsAutocomplete = [];
    function getFriends(){
        friendsAutocomplete = [];
        $.get("/user/friend/"+mysession.idUser,function( data ) {friends = data }, "json");
        displayListFriends();
        friends.forEach(function(element){
            friendsAutocomplete.push(element.pseudo);
        });
    }
    getFriends()
    function displayListFriends() {
        $('#friends-group').html('<strong><u>Amis : </u></strong>'+ friends.length);
        var i = 0;
        friends.forEach(function(element){
            $('#friends-group').append('<p>'+element.pseudo+'</p>');
            i++;
        });
    }
    //Add friend change name to id with autocomplete add need id
    $('#addFriend').click(function() {
        var friendName = document.getElementById('friendInput').value;
        users.forEach(function(element){
            if(element.pseudo == friendName){
                friendName = element._id;
                break;
             }
        });
        $.post( "/user/friend/"+mysession.idUser, {id: friendName });
        friendName = document.getElementById('friendInput').value;
        $.notify({title: '<strong>Friends!</strong><br>',message: 'You are now friends with :' +friendName},{type: 'success'});
        document.getElementById('friendInput').value = "";
        getFriends()
        displayListFriends();
    })
    
    //conversation
    // display conversation
    var conversations =[]
    function displayListConversation() {
        $('#conversation-group').html('<strong><u>Conversation : </u></strong>'+ conversations.length);
        var i = 0;
        conversations.forEach(function(element){
            $('#conversation-group').append('<a id="conversationSelection" class="list-group-item"><span id="'+i+'">'+element.name+'</span></a>');
            i++;
        });
    }
    $('#conversation-group').on('click','#conversationSelection', function() {
            var id = $(this).children('span').attr('id');
            conversation = conversations[id];
            displayConversation();
            $.notify({title: '<strong>Conversation!</strong>',message: conversation.name+' is now open'},{type: 'info'});
           });


    //get conversation
    function getConversations(){
        $.get("/conversation/user/"+mysession.idUser,function( data ) {conversations = data }, "json");
        displayListConversation();
    }
    getConversations();
    //create conversation
    $('#addConversation').click(function() {
        var conversationName = document.getElementById('conversationInput').value;
        $.post( "/conversation/"+mysession.idUser,{name : conversationName}, function( data ) {
                conversations.push(data);
                });
        $.notify({title: '<strong>Conversation!</strong><br>',message: 'now!!! add some friends to this new conversation'},{type: 'success'});
        document.getElementById('conversationInput').value = "";
        displayListConversation()
    })
    
    function displayConversation() {
        if(conversation==null){
            if(conversations.length<=0){
                return;
            }
            conversation = conversations[0];
        }else{
            $.get("/conversation/user/"+mysession.idUser,function( data ) {conversations = data }, "json");
            conversations.forEach(function(element){
            if(element._id==conversation._id){
                conversation = element;
            }
            });
        }
            $('#conversationName').html('<strong><u>Conversation : </u></strong>'+ conversation.name +' <strong><u> participants :</u></strong> ');
            conversation.participants.forEach(function(element){
                $('#conversationName').append(element.pseudo+' ');
            });
            $('#message').empty();
            conversation.data.forEach(function(element){
                $('#message').append('<div class="col-md-12"><ul class="media-list"><li class="media"><div class="media-body"><div class="media"><a class="pull-left" href="#"></a><div class="media-body">'+element.content+'<br><small class="text-muted">'+element.writer.pseudo+' | '+element.updated_at+'</small><hr></div></div></div></li></ul></div>');
            });
            
    }
    displayConversation();

    //add participant to conv
    $('#addParticipant').click(function() {
        var friendName = document.getElementById('participantInput').value;
        friends.forEach(function(element){
                               if(element.pseudo == friendName){
                                    friendName = element._id;
                                }
                        });
            $.post( "/conversation/addParticipants/"+conversation._id, {name: friendName });
            friendName = document.getElementById('participantInput').value;
            $.notify({title: '<strong>Friends!</strong><br>',message:  friendName +' is added to conversation : '+ conversation.name},{type: 'success'});
            document.getElementById('participantInput').value = "";
            getConversations();
            displayConversation();
    })
    
    //autocomplete
    $( "#participantInput" ).autocomplete({
                                          source: friendsAutocomplete,
                                          autoFocus: true
                                          });
                                          
   
       userAutocomplete = [];
       var users = [];
       $.get("/user/",function( data ) {
             users = data;
             data.forEach(function(element){
                    if(data._id!=mysession.idUser){
                          userAutocomplete.push(element.pseudo);
                    }
            });
             }, "json");
       
       
    $( "#friendInput" ).autocomplete({
                                          source: userAutocomplete,
                                          autoFocus: true
                                          });
    


    
</script>
